

.block{
  border: 1px solid #a9a9a9;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 10pt;
  white-space: nowrap;
  color:white;
}

.control{
  background-color: #CFAD4C;
}

.logic{
	background-color: #88b653;
}

.math{
	background-color: #4f86bf;
}

.text{
	background-color: #c24571;
}

.list{
	background-color: #58b6dc;
}

.color{
  background-color: #909090;
}

.split{
	background-color: #6A6A6A;
}

.variable{
	background-color: #db743a;
}

.procedure{
	background-color: #8f6a96;
}

.getter{
	background-color: #439a70;
}

.setter{
	background-color: #286543;
}


a.flat_btn {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  /*font-family: "Bitter",serif;*/
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-decoration: none;
}
a.flat_btn:focus {
  outline: none
  text-decoration:none;
}
a.flat_btn {
  color: #fff;
  background-color: #26A69A;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
a.flat_btn:hover,
a.flat_btn.hover {
  background-color: #00897B;
  text-shadow: -1px 1px #27496d;
  text-decoration: none;
}
a.flat_btn:active,
a.flat_btn.active {
  background-color: #00695C;
  text-shadow: -1px 1px #193047;
  text-decoration: none;
}

a.flat_btn:visited,
a.flat_btn.visited{
	text-decoration: none;
}

/*Bootstrap Material Design
http://rosskevin.github.io/bootstrap-material-design/
*/
.alert{
  padding:15px;
  margin-bottom:.5rem;
  border:1px solid transparent;
  border-radius:.125rem
}
.alert-heading{color:inherit; margin:.25em!important;}

.alert-link{font-weight:700; border-bottom: 1px dotted white}
.alert-link:hover{text-decoration: none!important}

.alert-dismissible{padding-right:35px}
.alert-dismissible .close{position:relative;top:-2px;right:-21px;color:inherit}

.alert-success{
    background-color:#4caf50;
    border-color:#449d48;
    color:#fff
}
.alert-success hr{border-top-color:#3d8b40}
.alert-success .alert-link{color:#e6e6e6}

.alert-info{
  background-color:#03a9f4;
  border-color:#0391d1;
  color:#fff
}
.alert-info hr{border-top-color:#027fb8}
.alert-info .alert-link{color:#e6e6e6}

.alert-warning{
  background-color:#ff5722;
  border-color:#ff4409;
  color:#fff
  }
.alert-warning hr{border-top-color:#ee3900}
.alert-warning .alert-link{color:#e6e6e6}

.alert-danger{
  background-color:#f44336;
  border-color:#f32c1e;
  color:#fff}
  .alert-danger hr{border-top-color:#ea1c0d}
  .alert-danger .alert-link{color:#e6e6e6}